In [1]:

print("My math marks is{}".format(Math))

Enter Math Marks23
My math marks is23

In [4]:
math=int(input("Enter Math Marks: "))
science=int(input("Enter science Marks: "))
english=int(input("Enter english Marks: "))
physics=int(input("Enter physics Marks: "))
total = (math+science+english+physics)*100/200
if total >=90 or total>= 80:
    print ("Grade = A")
elif total >=70 or total >=60:
    print("Grade = B")
elif total >=50 or total>=40:
    print ("Grade = C")
else:
    print("please try again")


print("My math marks is {}".format(math))
print("My science marks is {}".format( science))
print("My english marks is {}".format(english))
print("My physics marks is {}".format(physics))

print("My total marks is {}".format(total))

Enter Math Marks: 11
Enter science Marks: 11
Enter english Marks: 11
Enter physics Marks: 11
please try again
My math marks is 11
My science marks is 11
My english marks is 11
My physics marks is 11
My total marks is 22.0

In [2]:
alist =['apple','banana','peach','mango']

In [3]:
alist.remove('mango')

In [4]:
alist

['apple', 'banana', 'peach']

In [5]:
alist.append('pear')

In [6]:
sortlist = [33,22,55,44,2,77,8,9,54,32,11]

In [7]:
sortlist.sort()
sortlist

[2, 8, 9, 11, 22, 32, 33, 44, 54, 55, 77]

In [9]:
sortlist.sort(reverse = True)
sortlist

[77, 55, 54, 44, 33, 32, 22, 11, 9, 8, 2]

In [10]:
sortlist.reverse() #print the mirror form of the list

In [11]:
sortlist

[2, 8, 9, 11, 22, 32, 33, 44, 54, 55, 77]

In [12]:
sortlist.clear()
sortlist

[]

In [13]:
newlist = ['hamza','omer','ahsan','asad']

In [14]:
newlist.sort()

newlist

['ahsan', 'asad', 'hamza', 'omer']

In [15]:
blist=['A','LOPP','JSJSJ','ddd','FF','loooo']

In [16]:
blist.sort()
blist

['A', 'FF', 'JSJSJ', 'LOPP', 'ddd', 'loooo']

In [19]:
clist=[11,22,333,44,55,66,11,7,75,1,8,53,9]

In [23]:
x = clist.pop() #save the delete variable in val

In [24]:
print (clist)

print (x) #when we want to pop again it removes the stored value and place the second last term

[11, 22, 333, 44, 55, 66, 11, 7, 75, 1, 8]
53

In [30]:
x=clist.pop(4)
emp = []
emp.append(x)
print(emp)
print(clist)

print(x)

[75]
[11, 22, 333, 44, 1, 8]
75

In [39]:
nlist = [444,55,666,44,433,2,2,2,11,2,3,5,987,78,108]
p = nlist.pop()
elist = []
elist.append(p)
print (elist)
print(nlist)

[108]
[444, 55, 666, 44, 433, 2, 2, 2, 11, 2, 3, 5, 987, 78]

In [40]:
elist.append(nlist.pop())
print (clist)
print (elist)

[11, 22, 333, 44, 1, 8]
[108, 78]

In [60]:
if len(nlist)== 0:
    print ('your list is empty')
else:
    elist.append(nlist.pop())
    print (clist)
    print (elist)

your list is empty

In [6]:
a = [1,2,34,5,6,7,7,8,9,9,9000]

In [8]:
c=a # pass by reference

In [9]:
c # it would onliy get reference of a would not have its own content

[1, 2, 34, 5, 6, 7, 7, 8, 9, 9, 9000]

In [10]:
a.append(993)
a

[1, 2, 34, 5, 6, 7, 7, 8, 9, 9, 9000, 993]

In [11]:
c

[1, 2, 34, 5, 6, 7, 7, 8, 9, 9, 9000, 993]

In [12]:
d = c.copy() #makes exact same copy instead of referenece

In [13]:
d

[1, 2, 34, 5, 6, 7, 7, 8, 9, 9, 9000, 993]

In [16]:
del c[1]

In [17]:
d

[1, 2, 34, 5, 6, 7, 7, 8, 9, 9, 9000, 993]

In [18]:
c

[1, 34, 5, 6, 7, 7, 8, 9, 9, 9000, 993]

In [19]:
c[3:6] #slicing would always be done from left to right would not return error but show empty list instead

[6, 7, 7]

In [20]:
c[:7]

[1, 34, 5, 6, 7, 7, 8]

In [21]:
c[1:]

[34, 5, 6, 7, 7, 8, 9, 9, 9000, 993]

In [22]:
c[:]

[1, 34, 5, 6, 7, 7, 8, 9, 9, 9000, 993]

In [26]:
c[1:6:]

[34, 5, 6, 7, 7]

In [27]:
print (c)
c[1:8:2] # :2 is the dap between the two variables

[1, 34, 5, 6, 7, 7, 8, 9, 9, 9000, 993]

[34, 6, 7, 9]

# Reverse Indexing

In [30]:
#index  0       1       2        3        4
city = ['kara','lahoe','pesha','hydera','multan']
#index  -5      -4      -3      -2       -1

In [31]:
city[-4]

'lahoe'

In [33]:
city[-4:-3]

['lahoe']

In [34]:
city[:-4]

['kara']

In [36]:
city[-5:0]

[]